.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

.video {
  display: none; /* Hide the video */
}

.canvas {
  width: 100%;
  height: 100vh; /* Cover the entire page */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0; /* Remove border radius */
  z-index: 2; /* Ensure the canvas is above the button */
  pointer-events: none; /* Ensure canvas doesn't block interactions */
}

.buttonContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}
