.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.video {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.canvas {
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 20px; /* adjust if necessary */
  border-radius: 10px;
  z-index: 2;
  pointer-events: none; /* Ensure canvas doesn't block video interactions */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}
