.video-container {
  position: relative;
  display: inline-block; /* Adjust to fit the content */
}

.video-subtitle {
  position: absolute;
  left: 0; /* Add this line */
  right: 0; /* Add this line */
  bottom: 70px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  text-align: center;
}
